version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: brainstormer_backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - brainstormer_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: brainstormer_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - brainstormer_network

networks:
  brainstormer_network:
    driver: bridge
